/* app.css */
  
  /* Style all buttons to be hoverable and yellow */
  button {
    background-color: yellow;
    transition: background-color 0.3s ease-in-out;
  }

  body {
    background-color: rgb(181, 255, 181);
  }

  .mainBody{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
  }

  .upper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .lower{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 97, 97, 0.767);
    border-radius: 30px;
    margin: 30px;
    width: 400px;
    height: 400px;
  }
  
  .section form{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
  }

  button:hover {
    transform: scale(1.2);
    background-color: yellow;
  }
  
  